.container {
  background-image: url("C:/Users/prave/Desktop/feed-the-need/src/images/mainBackgroundImage.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100vh; /* You must set a specified height */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  overflow: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

.headMain {
  font-weight: 600;
  font-style: normal;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 70px;
  line-height: 1.3;
  letter-spacing: 1px;
}
.headPara {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #ffffff;
  font-size: 22px;
  line-height: 1.6;
  letter-spacing: 0px;
  margin-bottom: 8px;
}
.btn {
  width: 15%;
  height: 8%;
  background-color: #2f9e44;
  border-radius: 8px;
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  color: #e9ecef;
  font-weight: 800;
  letter-spacing: 1px;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

.btn:hover {
  background-color: #37b24d;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

/* --------------------------------- */
@media screen and (max-width: 600px) {
  .container {
    background-image: url("C:/Users/prave/Desktop/feed-the-need/src/images/mainBackgroundImage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff; /* Used if the image is unavailable */
    justify-content: flex-start;
  }
  .headMain {
    font-weight: 500;
    font-style: normal;
    font-family: "Oswald", sans-serif;
    color: #ffffff;
    font-size: 60px;
    line-height: 1;
    letter-spacing: 0.8px;
    text-align: center;
    margin-top: 18px;
  }
  .headPara{
    margin-bottom: 18px;
  }
  .btn {
    width: 40%;
    background-color: #2f9e44;
    border-radius: 8px;
    font-size: 17px;
    font-family: "Source Sans Pro", sans-serif;
    border: none;
    color: #e9ecef;
    font-weight: 800;
    letter-spacing: 1px;
  }

  .btn:hover {
    background-color: #37b24d;
    cursor: pointer;
    box-shadow: none;
  }
  .btn:active {
    background-color: #3e8e41;
    transform: translateY(2px);
  }
}
